<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="owner">
	

	<insert id="ownerInsert" parameterType="OwnerVO">
		INSERT INTO ownerInfo(ownerid, ownerpass, ownername, ownerpn, ownermail, ownerdate, shopaddr, shopcode, shopname)
		VALUES(#{ownerid}, #{ownerpass}, #{ownername}, #{ownerpn}, #{ownermail}, now(), #{shopaddr}, #{shopcode}, #{shopname})
	</insert>
	
	<select id='idCheck' parameterType="OwnerVO" resultType="OwnerVO">
		SELECT * FROM ownerInfo
			<where>
				<if test="ownerid != null">
					ownerid = #{ownerid}
				</if>
				<if test="ownerpass != null">
					AND ownerpass = #{ownerpass}
				</if>
			</where>
	</select>
	<!-- ownerid=#{ownerid} AND ownerpass=#{ownerpass} -->
	

	<insert id="ownerBoardInsert" parameterType="com.javassem.domain.OwnerBoardVO">
		INSERT INTO board_owner(normal_emergency, shopname, jobDate, jobTime_start, jobTime_end, need_Num, regDate)
		VALUES(#{normal_emergency}, #{shopname}, #{jobDate}, #{jobTime_start}, #{jobTime_end}, #{need_Num}, now())
	</insert>
	
	<!-- <insert id="ownerBoardInsert" parameterType="com.javassem.domain.OwnerBoardVO">
		INSERT INTO board_owner(shopName, need_Num, regDate)
		VALUES(#{shopName}, #{need_Num}, now())
	</insert> -->
	
	<select id="ownerBoardList" resultType="com.javassem.domain.OwnerBoardVO">
		<![CDATA[
			SELECT * FROM board_owner ORDER BY board_owner_seq DESC
		]]>
	</select>	
</mapper>